* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background: white;
}
li {
    margin-top: 5px;
}
button {
    margin-left: 2%;
}
.nav{
    list-style: none;
}

.contenedorGuitarra{
    display: inline-block;
}


.precioGuitarra{
    margin-top: -25px;
}

/* .h1Guitarra{}

.botonAgregarCarrito{}


.imgGuitarra{} */